*.iml
.gradle
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

# App specific excludes
*.keystore
*.jks
*.apk
*.aab
google-services.json
/release/
/build/
.idea/
gradle-daemon-jvm.properties
