<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.icymath">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Queries для интентов (камеры и галереи/файлопикеров) -->
    <queries>

        <!-- Камера -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Галерея / выбор контента -->
        <intent>
            <action android:name="android.intent.action.PICK" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
        </intent>
    </queries>

    <application
        android:name=".MyApplicationInfo"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IcyMath"
        tools:targetApi="36">
        <activity
            android:name=".activity.ActivityPartners"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityAbout"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityCalculator"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityAnalytics"
            android:exported="false" />
        <activity
            android:name=".activity.ActivitySecurity"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityLanguage"
            android:exported="false" />
        <activity
            android:name=".activity.ActivitySchedule"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityThemeSelection"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityReferenceMaterial"
            android:exported="false" />
        <activity
            android:name=".pdf.ActivityPdfViewer"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityResult"
            android:exported="false" />
        <activity
            android:name=".activity.ActivitySubstitutions"
            android:exported="false" />
        <activity
            android:name=".activity.ActivitySettings"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityHelpCenter"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityHistory"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>